@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
:root{
  --cor-principal: #ffffff;
  --cor-font:#7b9dfc;
  --height:100vh;
  /* --cor-auth:#f1f4f8; */
  --header-background: linear-gradient(90deg, #4527A0, #1565C0);
  --cor-texto-header: #EBEBEB;
  --cor-titulo:#4B3B9D;
  --cor-texto-campos:#374151;
  --font-titulo-label:'Segoe UI', Roboto, Arial, sans-serif;
  --cor-texto-label:#686666;
  --font-texto-label:16px;
  --cor-texto-titulo:#4B0082;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
}
body{
      background-color: #f8fafc;

}
